.footer-container {
  margin-top: auto;

  padding: 1rem;

  display: grid;
  place-items: center;

  a {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75em;

    letter-spacing: 0.15rem;
    text-decoration: none;

    transition: var(--transition);
    fill: var(--clr-neutral-200);
    color: var(--clr-neutral-200);

    &:hover {
      letter-spacing: 4px;
      fill: var(--clr-neutral-100);
      color: var(--clr-neutral-100);
    }

    &::before,
    &::after {
      --size: 20vw;
      content: "";
      display: flex;

      position: absolute;
      top: transform(translate(-50%, -50%));

      height: 1px;
      width: 0px;

      background: var(--clr-accent-100);

      transition: var(--transition);
    }

    &::before {
      left: calc(-1rem - var(--size));
    }
    &::after {
      right: calc(-1rem - var(--size));
    }

    &:hover::before,
    &:hover::after {
      width: var(--size);
    }
  }

  svg {
    height: 2rem;
  }

  .footer-p {
    display: grid;
    place-items: center;

    font-size: 3rem;
    font-family: var(--ff-title);
    font-weight: bold;

    // text-transform: uppercase;
  }
}
