@import url("https://fonts.googleapis.com/css2?family=Allison&family=Bebas+Neue&family=Qwigley&family=Roboto:wght@400;900&family=Special+Elite&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  overflow-x: hidden;

  --ff-main: "Roboto", sans-serif;
  --ff-title: "Allison", cursive;
  --ff-title2: "Bebas Neue", cursive;
  --ff-title3: "Qwigley", cursive;
  --ff-title4: "Special Elite", cursive;

  --clr-neutral-100: rgb(255, 255, 255);
  --clr-neutral-200: rgb(176, 176, 176);
  --clr-neutral-800: rgb(45, 45, 45);
  --clr-neutral-trans: rgba(0, 0, 0, 0.65);
  --clr-neutral-900: #000;

  --clr-accent-100: rgb(36, 207, 237);

  --border-radius: 0.5rem;

  --transition: all 0.25s ease-in-out;

  /*
  page defaults
  */

  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);

  font-family: var(--ff-main);
  font-weight: 400;

  line-height: 1;
}

/* global stylings */

button {
  padding: 0.75em 2em;

  font: inherit;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;

  background: none;
  color: var(--clr-accent-100);

  border-radius: var(--border-radius);
  border: 0;

  outline: 0.25rem var(--clr-accent-100) solid;

  transition: var(--transition);

  &:hover {
    cursor: pointer;
    color: var(--clr-neutral-900);
    background: var(--clr-accent-100);
  }
}

p {
  line-height: 1.75rem;
}

h1:not(.home-title) {
  position: relative;

  padding-block: 1rem;

  font-family: var(--ff-title2);
  font-size: 4rem;
  letter-spacing: 0.2rem;
}
