// body {
//   display: grid;
//   place-items: center;
// }

// body container

body {
  overflow: hidden;
}

#container {
  width: 100vw;
  min-height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.25)),
    url("../img/burger.jpg") no-repeat bottom center fixed;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  gap: 2rem;

  transition: var(--transition);
  transition: opacity 3s ease-in-out;
  /* media-query: smaller screen sizes, move image to left */
  /* background-position: calc(50% - 150px) 50%; */
}
