@import url("https://fonts.googleapis.com/css2?family=Allison&family=Bebas+Neue&family=Qwigley&family=Roboto:wght@400;900&family=Special+Elite&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-title: "Allison", cursive;
  --ff-title2: "Bebas Neue", cursive;
  --ff-title3: "Qwigley", cursive;
  --ff-title4: "Special Elite", cursive;
  --ff-main: "Roboto", sans-serif;
  --ff-title: "Allison", cursive;
}

body {
  background: rgb(17, 17, 17);
}

.container {
  width: 100vw;
  height: 100vh;
}

.header-text {
  font-family: var(--ff-title3);
  color: white;
  font-size: 5rem;
  font-weight: 400;
}

.main-image {
  max-width: 100vw;
}
