@import url("./global.scss");

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
  gap: 1.5rem;

  justify-self: center;
  padding-inline: 10vw;

  *:first-child {
    text-align: center;
    grid-column: 1/-1;
    padding-bottom: 2rem;
  }

  .menu-title-container {
    text-align: left;
  }
  .menu-h1 {
    text-align: left;
    padding-bottom: 0;
  }

  .menu-item {
    min-height: 230px;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    backdrop-filter: blur(8px);
    color: var(--clr-neutral-100);
    border-radius: 1rem;

    outline: 2px solid var(--clr-accent-100);

    transition: var(--transition);

    &:hover {
      transform: scale(1.25);
      z-index: 1;
    }

    h2 {
      font-size: 2.8rem;
      color: var(--clr-accent-100);
      font-family: var(--ff-title2);
    }

    h3 {
      // margin-top: auto;
      padding-top: 1rem;
      text-align: right;
      color: var(--clr-neutral-200);
    }

    p {
      line-height: 1.2;
    }
  }
}
